version: '3.7'
services:
  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DB_USER=root
      - DB_PASSWORD=server
      - DB_HOST=192.168.77.31
      - DB_PORT=3306
      - DB_NAME=diary
      - SECRET_KEY=dksS7^Q1~)%(;m
    volumes:
      - type: volume
        source: images_data
        target: /app/files
        volume:
          nocopy: true
      - type: bind
        source: .
        target: /app/diary
    command: ["gunicorn", "--workers=4", "-b", "0.0.0.0:8888", "--reload", "app:application"]

  nginx:
    image:
      nginx:alpine
    ports:
      - "80:80"
    volumes:
      - type: volume
        source: images_data
        target: /images_data
      - ./nginx:/etc/nginx/conf.d
    links:
      - webapp

volumes:
  images_data: