<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>舔狗日记</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="舔狗日记, 舔狗舔到应有尽有" />
<meta name="keywords" content="舔狗日记" />
<meta name="keywords" content="舔狗舔到应有尽有" />
</head>
<header>
<nav class="navbar navbar-default" >
<div class="collapse navbar-collapse" style="padding-right: 0px; padding-left: 0px; width: 800px; margin:auto">
<ul class="nav navbar-nav">
<li id="index"><a href=/diary/ > 首页 </a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<ul class="nav navbar-nav">
<li>
<a class="glyphicon glyphicon-send" title="发表日记" aria-hidden="true" style="font-size:x-large;color:#2ea92e" href=/diary/create?diary_type=1 > </a>
</li>
</ul>
<ul class="nav navbar-nav">
<li id="login"><a href=/account/login>登录</a></li>
<li id="signup"><a href=/account/signup>注册</a></li>
</ul>

</ul>
</div>
</nav>

</header>

<body>
<div class="container" style="width: 400px">

</div>

<div style="text-align: center; padding-top: 50px;">
<img src="/images/_data/404.png" alt="...">
</div>

</body>

</html>
<script src=/static/js/jquery.min.js></script>
<script src=/static/js/bootstrap.min.js></script>
<link rel="stylesheet" type="text/css" href=/static/css/bootstrap.min.css>
<link rel="stylesheet" type="text/css" href=/static/css/third.css>