<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
    <div class="container" style="width: 800px; background: #f4f4f4; ">
  <div class="col-md-4">
      <div style="text-align:center">
        <h3><small>日记</small></h3>
      </div>
  </div>
  <div class="col-md-4">
      <div style="text-align:center">
        <h3><small>{{ date }}</small></h3>
      </div>
  </div>
    <form action="#" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="col-md-4">
              <div style="text-align:center">
                 <h3>
                     <small>天气
                        <input name="weather" maxlength="5" type="text" class="form-control" required style="width:auto;height:auto;padding:2px;display: inherit;">
                     </small>
                 </h3>
              </div>

          </div>
          <textarea name="diary" maxlength="300" data-minheight="70" tabindex="1" id="isay-cont" rows="1" style="height: 100px; width: 100%;" required></textarea>
          <div style="float: right; padding-bottom: 10px">
        <button type="submit" class="btn btn-success">发表</button>
    </div>
    </form>
</div>
{% endblock %}