{% extends "layout.html" %}
{% block content %}
<div class="row" style="width:800px; margin:auto">
{% for item in diaries %}
    <div class="media">
      <div class="media-left" style="text-align: center;">
          {% if item['user_id'] %}
            <a href={{ url_for('account.zone', user_id=item['user_id']) }}>
              <img class="avatar media-object img-circle" src="{{ '/images/_data/'+item['avatar'] }}" alt="...">
            </a>
          {% else %}
          <img class="avatar media-object img-circle" src="{{ '/images/_data/'+item['avatar'] }}" alt="...">
          {% endif %}
      </div>
      <div class="media-body">
          <h5 style="margin-top:0px; margin-bottom:0px"><small>{{ item['username'] }}</small></h5>
        <h5 class="media-heading" style="padding-bottom:25px">
            <small style="font-size: initial;padding-left:80px;float:right">{{ item['weather'] }}</small>
            <small style="font-size: initial;float:right">{{ item['created_at']|date }}</small>
        </h5>
          <p>{{ item['content'] }}</p>
      </div>
        <div class="btn-group " role="group" style="float:right; margin-top: 15px">
      <button type="button" class="btn btn-default like" value="{{ item['diary_id'] }}">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp&nbsp{{ item['like'] }}
      </button>
      <a target="_blank" href={{ url_for('diary.create_diary', diary_type=2, diary_id=item['diary_id']) }} type="button" class="btn btn-default">
      &nbsp&nbsp{{ item['rewrite'] }} 续写
      </a>
     </div>
    </div>
    <hr style="margin-top: 6px;margin-bottom: 6px">
    {% endfor %}
    </div>
<nav aria-label="...">
  <ul class="pager">
      {% if pre_page != -1 %}
        <li><a href={{url_for('diary.get_diary', page_no=pre_page)}}>上一页</a></li>
      {% endif %}
      {% if next_page != -1 %}
        <li><a href={{url_for('diary.get_diary', page_no=next_page)}}>下一页</a></li>
      {% endif %}
  </ul>
</nav>
{% endblock %}
{% block script %}
<script>
  $("#index").attr('class', 'active')
  $(".like").click(function(){
  $(this).children().css("color","red");
    var value = $(this).attr('value')
      $.ajax({
          type: "POST",
          url: "{{ url_for('diary.like')}}",
          data: {'id':value},
          dataType: 'json'
      })
  });
</script>
{% endblock %}
