<!doctype html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a346d0e3476a5dfdbd950214d66a1260";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <title>舔狗日记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="舔狗日记, 舔狗舔到应有尽有" />
    <meta name="keywords" content="舔狗日记" />
    <meta name="keywords" content="舔狗舔到应有尽有" />
    {% endblock %}
  </head>
  <header>
      {% block header %}
    <nav class="navbar navbar-default" >
    <div class="collapse navbar-collapse" style="padding-right: 0px; padding-left: 0px; width: 800px; margin:auto">
      <ul class="nav navbar-nav">
        <li id="index"><a href={{ url_for('diary.get_diary') }} > 首页 </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a class="glyphicon glyphicon-send" title="发表日记" aria-hidden="true" style="font-size:x-large;color:#2ea92e" href={{ url_for('diary.create_diary', diary_type=1) }} > </a>
          </li>
      </ul>
        {% if session.get('current_user') %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ session['current_user']['name'] }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href={{ url_for('account.zone', user_id=g.current_user['id']) }}>个人中心</a></li>
            <li role="separator" class="divider"></li>
            <li><a href={{ url_for('account.logout') }}>退出</a></li>
          </ul>
        </li>
        {% else %}
        <ul class="nav navbar-nav">
        <li id="login"><a href={{ url_for('account.login') }}>登录</a></li>
          <li id="signup"><a href={{ url_for('account.signup') }}>注册</a></li>
          {% endif %}
      </ul>

      </ul>
  </div>
</nav>
{% endblock %}
</header>

  <body>
  <div class="container" style="width: 400px">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {% if message.endswith('!') %}
    <div class="alert alert-danger" role="alert">
      {% elif message.endswith('.') %}
    <div class="alert alert-success" role="alert">
      {% else %}
      <div class="alert alert-info" role="alert">
      {% endif %}
      {{ message }}
</div>
{% endfor %}

  {% endif %}
{% endwith %}
  </div>

  {% block content %}

{% endblock %}
</body>

</html>
<script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>

<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/third.css') }}>
{% block script %}
{% endblock %}