<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block content %}
<div class="container" style="width: 400px">
    <form style="margin-top:50px" action="#" method='post'>
  <div class="form-group">
    <label for="exampleInputEmail1">账户名</label>
    <input name=username class="form-control" id="exampleInputAccount" required maxlength="8" placeholder="最多8个字符">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">邮箱</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword" required maxlength="16" minlength="6" placeholder="密码必须包含数字、大小写字母、特殊字符至少两种">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">重复密码</label>
    <input name="password_repeated" type="password" class="form-control" id="exampleInputPassword1" required maxlength="16" minlength="6">
  </div>
  <button type="submit" class="btn btn-success" style="width: 100%">注册</button>
</form>
</div>
{% endblock %}

{% block script %}
<script>
  $("#signup").attr('class', 'active')
</script>
{% endblock %}
